{{define "index"}}
<html>
    <body>
        <ul>
            {{range .Meta.Files}}
            <li>
                <p><a href="{{.Name}}">{{.Name}}</a></p>
                {{if .File.Meta.GeoTag}}
                <dl>
                    <dt>Latitude</dt>
                    <dd>{{.File.Meta.GeoTag.Latitude}}</dd>
                    <dt>Longitude</dt>
                    <dd>{{.File.Meta.GeoTag.Longitude}}</dd>
                    <dt>Elevation</dt>
                    <dd>{{.File.Meta.GeoTag.Altitude}}</dd>
                    <dt>Timestamp</dt>
                    <dd>{{.File.Meta.GeoTag.Timestamp}}</dd>
                    {{if .File.Meta.GeoTag.Lookup}}
                    <dt>City</dt>
                    <dd>{{.File.Meta.GeoTag.Lookup.City}}</dd>
                    <dt>Country</dt>
                    <dd>{{.File.Meta.GeoTag.Lookup.Country}}</dd>
                    {{else}}
                    <dt>GPS coordinate lookup failed</dt>
                    {{end}}
                </dl>
                {{else}}
                <p>No GPS information available</p>
                {{end}}
            </li>
            {{end}}
        </ul>
    </body>
</html>
{{end}}
