{{define "collection"}}
<ul>
    {{range .}}
    <li>
        <a href="{{.Path}}">{{.Meta.Title}}</a>
    </li>
    {{end}}
</ul>
{{end}}

{{define "page"}}
<html>
    <body>
        <h1>{{.Meta.Title}}</h1>
    </body>
</html>
{{end}}

{{define "index"}}
<html>
    <body>
        <h1>Page {{.Meta.Pager.CurrentPage.Index}}</h1>

        <p>{{template "collection" .Meta.Pager.CurrentPage.Items}}</p>
        <p>
            [

            {{if .Meta.Pager.CurrentPage.Prev}}
            <a href="{{.Meta.Pager.CurrentPage.Prev.File.Path}}">Prev</a>
            {{else}}
            Prev
            {{end}}

            |

            {{if .Meta.Pager.CurrentPage.Next}}
            <a href="{{.Meta.Pager.CurrentPage.Next.File.Path}}">Next</a>
            {{else}}
            Next
            {{end}}

            ]
        </p>
    </body>
</html>
{{end}}
