{{define "page"}}
<html>
    <body>
        <dl>
            <dt><h1>title</h1></dt>
            <dd>{{.Meta.Title}}</dd>

            <dt><h1>summary</h1></dt>
            <dd>{{.Meta.Summary}}</dd>
        </dl>
    </body>
</html>
{{end}}

