{{define "tag"}}
<html>
    <body>
        <h1>Pages Tagged "{{.Meta.TagState.Index.RawName}}"</h1>
        <ul>
            {{range .Meta.TagState.Index.Files}}
            <li><a href="../../{{.Path}}">{{.Meta.Title}}</a></li>
            {{end}}
        </ul>
        <a href="../../index.html">Show all tags</a>
    </body>
</html>
{{end}}

{{define "tags"}}
<html>
    <body>
        <h1>Global Tag Listing</h1>

        <h2>By Name</h2>
        <ul>
            {{range .Meta.TagState.InfoByName}}
            <li><a href="{{.Path}}">{{.RawName}}</a> ({{len .Files}})</li>
            {{end}}
        </ul>

        <h2>By Count</h2>
        <ul>
            {{range .Meta.TagState.InfoByCount}}
            <li><a href="{{.Path}}">{{.RawName}}</a> ({{len .Files}})</li>
            {{end}}
        </ul>
    </body>
</html>
{{end}}

{{define "page"}}
<html>
    <body>
        <h1>{{.Meta.Title}}</h1>
        <p>
            Tagged with:
            {{range .Meta.TagState.Tags}}
            <a href="{{.Path}}">{{.RawName}}</a>
            {{end}}
        </p>
        <p>
            <a href="index.html">Show all tags</a>
        </p>
    </body>
</html>
{{end}}
